Repository futuping/template: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-fmt-fix, cargo-check, cargo-clippy, cargo-deny, cargo-audit, cargo-test, cargo-doc-test, cargo-doc, python-check-ast, pytest-cov, pytest-fast, pip-check, python-import-check, cargo-complexity

cargo-fmt:
  name: 🦀 Rust · 代码格式化检查
  description: 使用 rustfmt 检查代码格式
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-fmt-fix:
  name: 🦀 Rust · 自动格式化修复
  description: 使用 rustfmt 自动修复代码格式
  entry: bash -c 'cargo fmt --all'
  language: system
  pass_filenames: false

cargo-check:
  name: 🦀 Rust · 编译检查
  description: 检查代码是否能正常编译
  entry: bash -c 'cargo check --all-targets --all-features'
  language: system
  pass_filenames: false

cargo-clippy:
  name: 🦀 Rust · Clippy 代码质量检查
  description: 使用 Clippy 进行代码质量分析
  entry: bash -c 'cargo clippy --all-targets --all-features -- -D warnings -D clippy::all -D clippy::pedantic -A clippy::module_name_repetitions'
  language: system
  pass_filenames: false

cargo-deny:
  name: 🦀 Rust · 依赖安全检查
  description: 检查依赖的安全性和许可证
  entry: bash -c 'cargo deny check'
  language: system
  pass_filenames: false

cargo-audit:
  name: 🦀 Rust · 依赖漏洞审计
  description: 检查依赖中的已知安全漏洞
  entry: bash -c 'cargo audit'
  language: system
  pass_filenames: false

cargo-test:
  name: 🦀 Rust · 运行单元测试
  description: 运行项目的单元测试
  entry: bash -c 'cargo nextest run --all-features'
  language: system
  pass_filenames: false

cargo-doc-test:
  name: 🦀 Rust · 文档测试
  description: 运行文档中的测试
  entry: bash -c 'cargo test --doc'
  language: system
  pass_filenames: false

cargo-doc:
  name: 🦀 Rust · 文档生成检查
  description: 检查文档是否能正常生成
  entry: bash -c 'cargo doc --no-deps --document-private-items'
  language: system
  pass_filenames: false

python-check-ast:
  name: 🐍 Python · AST 语法检查
  description: 检查 Python 文件的 AST 语法
  entry: python -m py_compile
  language: system

pytest-cov:
  name: 🐍 Python · 测试覆盖率检查
  description: 运行 pytest 并检查测试覆盖率
  entry: bash -c 'python -m pytest --cov=. --cov-report=term-missing --cov-fail-under=80'
  language: system
  pass_filenames: false

pytest-fast:
  name: 🐍 Python · 快速测试
  description: 运行快速的 Python 测试
  entry: bash -c 'python -m pytest -x --ff -q'
  language: system
  pass_filenames: false

pip-check:
  name: 🐍 Python · 依赖一致性检查
  description: 检查 pip 依赖的一致性
  entry: bash -c 'python -m pip check'
  language: system
  pass_filenames: false

python-import-check:
  name: 🐍 Python · 导入检查
  description: 检查 Python 包是否可以正常导入
  entry: bash -c 'python -c "import sys; [__import__(m) for m in sys.argv[1:]]"'
  language: system
  pass_filenames: false

cargo-complexity:
  name: 🧪 质量 · 代码复杂度检查
  description: 检查代码的复杂度
  entry: bash -c 'cargo clippy -- -W clippy::cognitive_complexity -W clippy::too_many_lines'
  language: system
  pass_filenames: false

fix: .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

fix: .pre-commit-config.yaml and workflow issues
  .github/workflows/build.yml
  .pre-commit-config.yaml
Due: none

fix: .pre-commit-config.yaml and add .secrets.baseline
  .pre-commit-config.yaml
Due: none

feat: add .secrets.baseline for detect-secrets
  .secrets.baseline
Due: none

feat: 禁用分支保护，允许直接提交到main分支
  .pre-commit-config.yaml
Due: none

fix: .pre-commit-config.yaml - 修复 gitleaks 和 detect-secrets 配置问题
  .gitleaks.toml
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

🔧 优化: 移除 GitHub Actions 中与 pre-commit 重复的功能
  .github/workflows/build.yml
Due: none

other: change world whit rust in main.rs
  src/main.rs
Due: cargo-fmt, cargo-fmt-fix, cargo-check, cargo-clippy, cargo-deny, cargo-audit, cargo-test, cargo-doc-test, cargo-doc, cargo-complexity

🔧 升级 GitHub Actions: 修复 upload/download-artifact 弃用警告
  .github/workflows/build.yml
Due: none

🔧 升级 CodeQL Action: 修复弃用警告
  .github/workflows/codeql.yml
Due: none

重构: 简化构建系统并优化 nextest 配置
  .github/docs/CROSS_PLATFORM_BUILD.md
  .github/workflows/build.yml
  Cargo.toml
  nextest.toml
Due: cargo-deny, cargo-audit

修复: 解决 CI/CD 测试失败问题
  .github/workflows/build.yml
  Cargo.toml
Due: cargo-deny, cargo-audit

优化: PR 工作流效率提升
  .github/workflows/build.yml
Due: none

修复: 解决发布作业 hdiutil 命令找不到的问题
  .github/workflows/build.yml
Due: none

修复: 解决发布资产上传 404 错误
  .github/workflows/build.yml
Due: none

修复: 解决 CodeQL 检查脚本的 undefined 错误
  .github/workflows/build.yml
Due: none

修复: 解决发布文件路径 404 错误
  .github/workflows/build.yml
Due: none

重构: 实现 CodeQL 优先的串行发布策略
  .github/workflows/build.yml
Due: none

重命名: 工作流名称从 build 改为 ci-cd
  .github/workflows/build.yml
Due: none

更新CI/CD工作流：增强macOS构建支持和安全审计功能
  .github/workflows/build.yml
Due: none

修正CodeQL工作流名称匹配
  .github/workflows/build.yml
Due: none

统一CodeQL工作流显示名称为CodeQL
  .github/workflows/codeql.yml
Due: none

优化CI/CD工作流避免重复触发和资源浪费
  .github/workflows/build.yml
Due: none

refactor: 重构 CI/CD 工作流配置
  .github/codeql/README.md
  .github/codeql/codeql-config.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  CHANGELOG.md
  cliff.toml
Due: none

fix: 添加最低支持的 Rust 版本 (MSRV) 配置
  Cargo.toml
Due: cargo-deny, cargo-audit

feat: 升级到完整的 Rust CI/CD 管道
  .github/workflows/ci.yml
  .github/workflows/rust.yaml
  Cargo.lock
  Cargo.toml
Due: cargo-deny, cargo-audit

chore: 更新版本号到 0.4.0
  Cargo.toml
Due: cargo-deny, cargo-audit

chore: 更新 Cargo.lock 以匹配版本 0.4.0
  Cargo.lock
Due: none

fix: 修复 GitHub Release 中 changelog 的 Markdown 格式问题
  .github/workflows/rust.yaml
Due: none

chore: 更新版本号到 0.4.1
  Cargo.lock
  Cargo.toml
Due: cargo-deny, cargo-audit

chore: update changelog and workflows
  .github/workflows/rust.yaml
  .markdownlint.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

chore: add markdownlint ignore file for CHANGELOG.md
  .markdownlintignore
  CHANGELOG.md
Due: none

feat: enhance changelog and CI/CD workflow configuration
  .github/workflows/rust.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  cliff.toml
Due: none

chore: bump version to 0.5.0 and update changelog
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-deny, cargo-audit

fix: pre-commit hook changes (eof, changelog, etc.)
  .github/workflows/rust.yaml
  .markdownlint.yaml
  CHANGELOG.md
Due: none

Update project configuration files
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  cliff.toml
Due: cargo-deny, cargo-audit

fix: 修复 mdformat 版本标签，移除 v 前缀
  .pre-commit-config.yaml
Due: none

feat: add caching optimizations to GitHub workflow
  .github/workflows/rust.yaml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
    .*\.lock$|          # 排除锁文件
    target/.*|          # 排除构建目录
    \.git/.*|           # 排除 git 目录
    .*\.bak$|           # 排除备份文件
    .*\.tmp$            # 排除临时文件
)$

  cargo-fmt-fix: any of: \.rs$, but not: (?x)^(
    .*\.lock$|          # 排除锁文件
    target/.*|          # 排除构建目录
    \.git/.*|           # 排除 git 目录
    .*\.bak$|           # 排除备份文件
    .*\.tmp$            # 排除临时文件
)$

  cargo-check: any of: \.rs$, but not: (?x)^(
    .*\.lock$|          # 排除锁文件
    target/.*|          # 排除构建目录
    \.git/.*|           # 排除 git 目录
    .*\.bak$|           # 排除备份文件
    .*\.tmp$            # 排除临时文件
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
    .*\.lock$|          # 排除锁文件
    target/.*|          # 排除构建目录
    \.git/.*|           # 排除 git 目录
    .*\.bak$|           # 排除备份文件
    .*\.tmp$            # 排除临时文件
)$

  cargo-deny: any of: \.rs$|Cargo\.toml$|Cargo\.lock$, but not: (?x)^(
    .*\.lock$|          # 排除锁文件
    target/.*|          # 排除构建目录
    \.git/.*|           # 排除 git 目录
    .*\.bak$|           # 排除备份文件
    .*\.tmp$            # 排除临时文件
)$

  cargo-audit: any of: \.rs$|Cargo\.toml$|Cargo\.lock$, but not: (?x)^(
    .*\.lock$|          # 排除锁文件
    target/.*|          # 排除构建目录
    \.git/.*|           # 排除 git 目录
    .*\.bak$|           # 排除备份文件
    .*\.tmp$            # 排除临时文件
)$

  cargo-test: any of: \.rs$, but not: (?x)^(
    .*\.lock$|          # 排除锁文件
    target/.*|          # 排除构建目录
    \.git/.*|           # 排除 git 目录
    .*\.bak$|           # 排除备份文件
    .*\.tmp$            # 排除临时文件
)$

  cargo-doc-test: any of: \.rs$, but not: (?x)^(
    .*\.lock$|          # 排除锁文件
    target/.*|          # 排除构建目录
    \.git/.*|           # 排除 git 目录
    .*\.bak$|           # 排除备份文件
    .*\.tmp$            # 排除临时文件
)$

  cargo-doc: any of: \.rs$, but not: (?x)^(
    .*\.lock$|          # 排除锁文件
    target/.*|          # 排除构建目录
    \.git/.*|           # 排除 git 目录
    .*\.bak$|           # 排除备份文件
    .*\.tmp$            # 排除临时文件
)$

  python-check-ast: any of: \.py$, but not: (?x)^(
    .*\.lock$|          # 排除锁文件
    target/.*|          # 排除构建目录
    \.git/.*|           # 排除 git 目录
    .*\.bak$|           # 排除备份文件
    .*\.tmp$            # 排除临时文件
)$

  pytest-cov: any of: \.py$, but not: (?x)^(
    .*\.lock$|          # 排除锁文件
    target/.*|          # 排除构建目录
    \.git/.*|           # 排除 git 目录
    .*\.bak$|           # 排除备份文件
    .*\.tmp$            # 排除临时文件
)$

  pytest-fast: any of: \.py$, but not: (?x)^(
    .*\.lock$|          # 排除锁文件
    target/.*|          # 排除构建目录
    \.git/.*|           # 排除 git 目录
    .*\.bak$|           # 排除备份文件
    .*\.tmp$            # 排除临时文件
)$

  pip-check: any of: requirements.*\.txt$|pyproject\.toml$|setup\.py$, but not: (?x)^(
    .*\.lock$|          # 排除锁文件
    target/.*|          # 排除构建目录
    \.git/.*|           # 排除 git 目录
    .*\.bak$|           # 排除备份文件
    .*\.tmp$            # 排除临时文件
)$

  python-import-check: any of: \.py$, but not: (?x)^(
    .*\.lock$|          # 排除锁文件
    target/.*|          # 排除构建目录
    \.git/.*|           # 排除 git 目录
    .*\.bak$|           # 排除备份文件
    .*\.tmp$            # 排除临时文件
)$

  cargo-complexity: any of: \.rs$, but not: (?x)^(
    .*\.lock$|          # 排除锁文件
    target/.*|          # 排除构建目录
    \.git/.*|           # 排除 git 目录
    .*\.bak$|           # 排除备份文件
    .*\.tmp$            # 排除临时文件
)$

